body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0e0b99;
    color: #fff;
    padding: 15px 0;
}

.left-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #fff;
    padding: 20px 0;
    margin: 20px 0;
    border-radius: 5px;
}

#search-input {
    margin-bottom: 10px;
    padding: 5px;
    width: 30%;
}

#search-button {
    padding: 5px 10px;
    width: 10%;
    background-color: #0e0b99;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

.city-option {
    padding: 5px 10px;
    width: 30%;
    background-color: #cbcbce;
    color: #080808;
    border: 2px solid black;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
}

#weather-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}